PORT                  = 3000
DATABASE_URL          = "postgres://postgres:postgres@localhost/pink_spider_development"

YOUTUBE_API_KEY       = ""
SOUNDCLOUD_API_KEY    = ""
SPOTIFY_CLIENT_ID     = ""
SPOTIFY_CLIENT_SECRET = ""

USER_AGENT            = """\
                        Mozilla/5.0 (iPhone; CPU iPhone OS 9_1 like Mac OS X) \
                        AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 \
                        Mobile/13B143 Safari/601.1\
                        """
